flows.json
[{"id":"dc79aa9d.a1c858","type":"tab","label":"iot","disabled":false,"info":""},{"id":"d6f09df7.efc0c","type":"ibmiot in","z":"dc79aa9d.a1c858","authentication":"apiKey","apiKey":"b4a07e96.7e3ce","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"processor","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":280,"y":300,"wires":[["74fe4.6dacd01c8","b81088ae.084e28","a595b9c.4e01848","efbe77a.55dee88"]]},{"id":"74fe4.6dacd01c8","type":"debug","z":"dc79aa9d.a1c858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":300,"wires":[]},{"id":"b81088ae.084e28","type":"function","z":"dc79aa9d.a1c858","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["74fe4.6dacd01c8","b1a04009.ee8eb"]]},{"id":"a595b9c.4e01848","type":"function","z":"dc79aa9d.a1c858","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["74fe4.6dacd01c8","5ff2c8d4.352a48"]]},{"id":"efbe77a.55dee88","type":"function","z":"dc79aa9d.a1c858","name":"Soil Temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["74fe4.6dacd01c8","5b3c0507.523d2c"]]},{"id":"b1a04009.ee8eb","type":"ui_gauge","z":"dc79aa9d.a1c858","name":"","group":"ede3f10c.fc524","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#0fe600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[],"icon":"node-red-contrib-scx-ibmiotapp/iotcloud-icon.png"},{"id":"5ff2c8d4.352a48","type":"ui_gauge","z":"dc79aa9d.a1c858","name":"","group":"ede3f10c.fc524","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":400,"wires":[]},{"id":"5b3c0507.523d2c","type":"ui_gauge","z":"dc79aa9d.a1c858","name":"Soil","group":"ede3f10c.fc524","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Temp","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#3acb8c"],"seg1":"","seg2":"","x":750,"y":540,"wires":[]},{"id":"6c1e49ba.f643e8","type":"ui_button","z":"dc79aa9d.a1c858","name":"","group":"b1a07523.77bde8","order":1,"width":3,"height":1,"passthru":false,"label":"Motor on","tooltip":"Press to switch on Motor","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"motoron\"}","payloadType":"json","topic":"","x":720,"y":720,"wires":[["f1e70620.78c348","7f24f0a2.8c50d"]]},{"id":"83fd24e8.5e5928","type":"ui_button","z":"dc79aa9d.a1c858","name":"","group":"b1a07523.77bde8","order":2,"width":3,"height":1,"passthru":false,"label":"Motoroff","tooltip":"Switch off the Motor","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":720,"y":1020,"wires":[["f1e70620.78c348","9c4105d3.68a508"]]},{"id":"f1e70620.78c348","type":"ibmiot out","z":"dc79aa9d.a1c858","authentication":"apiKey","apiKey":"b4a07e96.7e3ce","outputType":"cmd","deviceId":"motor","deviceType":"iotdevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":880,"wires":[]},{"id":"d09db238.1fb6c","type":"inject","z":"dc79aa9d.a1c858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":780,"wires":[["1f7678d1.900f07"]]},{"id":"1f7678d1.900f07","type":"http request","z":"dc79aa9d.a1c858","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=KHAMMAM,IN&appid=0bd23a1bf72e05525ea0d7c9ccf838c3","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":920,"wires":[["41f8156c.f29d9c","1b092935.74af77","b7b6d769.f6fad8","c5bf1637.39f708","3cbe8232.7b30ee"]]},{"id":"41f8156c.f29d9c","type":"debug","z":"dc79aa9d.a1c858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":780,"wires":[]},{"id":"7f24f0a2.8c50d","type":"debug","z":"dc79aa9d.a1c858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":660,"wires":[]},{"id":"9c4105d3.68a508","type":"debug","z":"dc79aa9d.a1c858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":1100,"wires":[]},{"id":"1b092935.74af77","type":"function","z":"dc79aa9d.a1c858","name":"Api.place","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1040,"wires":[["41f8156c.f29d9c","f96fb521.f59088"]]},{"id":"b7b6d769.f6fad8","type":"function","z":"dc79aa9d.a1c858","name":"Api.temp","func":"msg.payload=(msg.payload.main.temp-273.15).toPrecision(2)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1060,"wires":[["41f8156c.f29d9c","3a57f720.10e118"]]},{"id":"c5bf1637.39f708","type":"function","z":"dc79aa9d.a1c858","name":"Api.humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1180,"wires":[["41f8156c.f29d9c","6826642f.d6995c"]]},{"id":"3cbe8232.7b30ee","type":"function","z":"dc79aa9d.a1c858","name":"Api.forecast","func":"msg.payload=msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1160,"wires":[["41f8156c.f29d9c","b348aa97.4abcf8"]]},{"id":"3a57f720.10e118","type":"ui_gauge","z":"dc79aa9d.a1c858","name":"","group":"eeafb071.4022b","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature-OWM","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#00e626","#ca3838"],"seg1":"","seg2":"","x":780,"y":1220,"wires":[]},{"id":"6826642f.d6995c","type":"ui_gauge","z":"dc79aa9d.a1c858","name":"","group":"eeafb071.4022b","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidity-OWM","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#3a4acb"],"seg1":"","seg2":"","x":630,"y":1280,"wires":[]},{"id":"b348aa97.4abcf8","type":"ui_text","z":"dc79aa9d.a1c858","group":"eeafb071.4022b","order":2,"width":0,"height":0,"name":"","label":"Forecast","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":1300,"wires":[]},{"id":"f96fb521.f59088","type":"ui_text","z":"dc79aa9d.a1c858","group":"eeafb071.4022b","order":1,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1140,"wires":[]},{"id":"b4a07e96.7e3ce","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"a5yxee.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ede3f10c.fc524","type":"ui_group","z":"","name":"weather","tab":"31b4e95b.9b31b6","order":1,"disp":true,"width":"6","collapse":true},{"id":"b1a07523.77bde8","type":"ui_group","z":"","name":"Controls","tab":"31b4e95b.9b31b6","order":2,"disp":true,"width":"6","collapse":true},{"id":"eeafb071.4022b","type":"ui_group","z":"","name":"Forecast","tab":"31b4e95b.9b31b6","order":3,"disp":true,"width":"6","collapse":true},{"id":"31b4e95b.9b31b6","type":"ui_tab","z":"","name":"Smartagri","icon":"dashboard","disabled":false,"hidden":false}]